@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    font-family: roboto;
    margin: 0;
    padding: 0;
}

header{
    margin: 0;
    padding: 0;
    border: 0;
    display: flex;
    background-color: #1F2937;
}
header nav{
    margin-left: auto;
    margin-right: 15%;
    margin-top: 15px;
}

header nav ul{
    display: flex;
    gap: 40px;
    margin-right: 12px;
}
header nav ul li{
    list-style: none;
}
header nav ul li a{
    text-decoration: none;
    color: #E5E7EB;
}

.headerlogo{
    font-size: 24px;
    color: #F9FAF8;
    margin-left: 15%;
}


.containerone{
    background-color: #1F2937;
    margin: 0px;
    padding: 100px;
    display: flex;
    justify-content: space-between;
}

.containerone p{
 font-size: 18px;
 color: #e5e7eb;
}
.containerone h1{
    margin-top: 0px;
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

img{
    height: auto;
    width: 40em;
    max-width: 100%;
}

.herotext{
    width: 30em;
    margin-left: 180px;
}

.heroimg{
    margin-right: 200px;

}

.herobutton{
    background-color: #3882f6;
    padding: 8px 25px 8px 25px;
    border: 0px;
    font-size: 18px;
    border-radius: 10px;
}

.herobutton a{
    text-decoration: none;
    text-align: center;
    color: white;
}

.containertwo{
    display: flex;
    flex-direction: column;
    margin-top: 80px;

}

.infoheader{
    display: flex;
    justify-content: center;
}


.infoheader p{
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}

.infocards{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.card{
    background-color: white;
    margin: 10px;
    width: 200px;
    height: 200px;
    float: left;
    border-radius: 15px;
    border: solid #3882f6 4px;
}

.info{
    display: flex;
    flex-direction: column;
}

.cardtext{
    width: 15em;
}

.secondsection{
    height: 600px;
}

.testimonialsection{
    background-color: #E5E7EB;
    display: flex;
    margin: 0%;
    padding: 7%;
    
}

.testimonial h2{
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    width: 50%;
    margin: 0%;
    margin-left: 25%;
    font-weight: 200;
}

.quote{
    margin-left: 60%;
}

.quote h3{
    margin: 0%;
    color: #1f2937;
}

.actioncall{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8%;
}
.actionbox{
    background-color: #3882f6;
    height: 170px;
    width: 60%;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.actionbutton button{
    background-color: #3882f6;
    padding: 5px 25px 5px 25px;
    border-radius: 5px;
    color: white;
    text-align: center;
    border-color: white;
    border-width: 2px;
    margin-right: 120px;
    font-weight: 700;
}

.actionbutton button a{
    text-decoration: none;
    text-align: center;
    color: white;
}

.actiontext h2, h3{
    color: white;
    margin-left: 70px;
}

.actiontext h2{
    font-weight: 600;
}

.actiontext h3{
    font-weight: 300;
}

footer{
    background-color: #1F2937;
    padding: 15px;
    color: white;
    font-weight: 300;
    text-align: center;
}